*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9)    /* X & O size*/
}

body{
    margin: 0;
}

.board{
    width: 100vw;   /* View Width */
    height: 100vh;   /* View Height - board goes all over the screen*/
    display: grid;

    justify-content: center;    
    align-content: center;  /*aligns all board content in the center */

    justify-items: center;
    align-items: center;    /*aligns cell content in the center */

    grid-template-columns: repeat(3,auto); /* Creates 3 autosize colums*/
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;

    display: flex;
    justify-content: center;    /*Cell Content display */
    align-items: center;

    position: relative;

    cursor: pointer;    /* Pointer Over Elements */
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;   /* Removes Top Border */
}

.cell:nth-child(3n + 1){    /* 3*0 + 1 = 1, 3*1 + 1 = 4, 3*2 + 1 = 7  */
    border-left: none;      /* Removes Left Border */
}

.cell:nth-child(3n + 3){    /* 3*0 + 3 = 3, 3*1 + 3 = 6, 3*2 + 3 = 9  */
    border-right: none;     /* Removes Right Border */
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7){
    border-bottom: none;       /* Removes Bottom Border */
}

.cell.x,
.cell.circle{
    cursor: not-allowed;    /* Cursor Not Allowed On Showing X & Circle*/
}
.cell.x::before,
.cell.x::after,
.cell.circle::before{
    background-color: black;
}


.board.x .cell:not(.x):not(.circle):hover::before,  /* Don't Apply On X & Circle Elements  */
.board.x .cell:not(.x):not(.circle):hover::after,   /* When Hover */
.board.circle .cell:not(.x):not(.circle):hover::before{
    background-color: lightgrey;
}


.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;     /* Positioning elemnts in the center to help X alignment*/
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(45deg);   /*Creating 1 part of the X */
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(-45deg);  /*Creating 1 part of the X */
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;     /*Creates A Black Circle*/
}
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before{
    width: var(--mark-size);
    height: var(--mark-size);
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after{
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;    /*Creates A Smaller White (*0.7 from black) Circle*/
}
.winning-message {

    display: none; /* Hiding */

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, .9);    /* Dark Screen  90% transparent*/

    justify-content: center;
    align-items: center;    /* Content Alignment  */
    color: white;
    font-size: 5rem;

    flex-direction: column; /* Stacks Elements In A Column */
}

.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}
.winning-message button:hover{      /* Hover State */
    background-color: black;
    color: white;
    border-color: white;
} 
.winning-message.show {
    display: flex;
}